  <%= form_for(@user) do |f| %>
      <%= f.hidden_field :id %>
      <table class="col-xs-8 table-striped">
        <thead>
        <tr>
          <th class="text-left">Emall</th>
          <th class="text-left">Type</th>
          <th class="text-left">Active</th>
          <th class="text-left"></th>
        </tr>
        </thead>
        <tbody>
            <tr>
              <td class="text-left"><%= @user.login %></td>
              <td class="text-left">
                <%=  f.select :user_type, options_for_select([['Admin', 'admin'],['Normal', 'normal']], @user.user_type) %>
              </td>
              <td class="text-left"><%= f.check_box :state%></td>
              <td class="text-left"><input type="submit" class = "btn btn-default" value="Enregistrer"/></td>
            </tr>
        </tbody>
    </table>
    <div class="clearfix"></div>
    <br>
  <% end %>

