<h4>Liste des utilisateurs</h4>

<% if admin? %>
    <div class="form-horizontal">
      <%= form_for @criteria, method: :post, url: '/users/search', html: {class: 'col-xs-10'} do |f| %>

          <div class="form-group" style="margin-bottom: 5px">
            <%= f.label "Email", class:"col-xs-3 control-label" %>
            <div class="col-xs-9">
              <%= f.text_field :email, class:"form-control input-sm" %>
            </div>
          </div>

          <div style="float:right">
            <input type="submit" class="btn btn-primary" value="Rechercher"/>
          </div>
      <% end %>
    </div>
    <div class="clearfix"></div>
<% end %>
<br/>

<table class="col-xs-8 responstable">
  <thead>
    <tr style="background-color: whitesmoke;">
      <th class="text-left">Email</th>
      <th class="text-left">Type</th>
      <th class="text-center"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="text-left"><%= user.login %></td>
        <td class="text-left"><%= user.user_type%></td>
        <td class="text-center"><%= link_to 'Edit', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

