<% provide(:title, 'S’inscrire') %>
<div class="panel panel-default login" style="width:350px;margin: auto">
  <div class="panel-heading">
    S’inscrire
  </div>
  <div class="panel-body">
    <%= form_for(@user) do |f| %>
        <fieldset>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <%= f.text_field :login, class:"form-control", placeholder:'Identifiant' %>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open"></i></span>
              <%= f.password_field :password, class:'form-control', placeholder:'Mot de passe' %>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open"></i></span>
              <%= f.password_field :password_confirmation, class:'form-control', placeholder:'Mot de passe' %>
            </div>
          </div>
          <div class="form form-inline">
            <div class="pull-right">
              <%= f.submit 'Créer un compte', class: "btn btn-primary" %>
            </div>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>

