<h4>Liste des commandes</h4>
<% if admin? %>
<div class="form-horizontal">
<%= form_for @criteria, method: :post, url: '/orders/search', html: {class: 'col-xs-10'} do |f| %>

    <div class="form-group" style="margin-bottom: 5px">
      <%= f.label "Réf", class:"col-xs-3 control-label" %>
      <div class="col-xs-9">
        <%= f.text_field :name, class:"form-control input-sm" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "Date début", class:"col-xs-3 control-label" %>
      <div class="col-xs-3">
        <%= f.text_field :start_date, class:"form-control input-sm datepicker" %>
      </div>

      <%= f.label "Date fin", class:"col-xs-3 control-label" %>
      <div class="col-xs-3">
        <%= f.text_field :end_date, class:"form-control input-sm datepicker" %>
      </div>
    </div>

    <div style="float:right">
      <input type="submit" class="btn btn-primary" value="Rechercher"/>
    </div>
<% end %>
</div>
<div class="clearfix"></div>
<% end %>
<br/>
<table class="col-xs-12 table-striped">
  <thead>
  <tr style="background-color: whitesmoke;">
    <th class="text-center">Réf</th>
    <th class="text-center">Montant</th>
    <th class="text-center">Statut</th>
    <th class="text-center">Date</th>
    <th class="text-center"></th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td class="text-center"><%= order.total_price %></td>
        <td class="text-center"><%= order.state_value %></td>
        <td class="text-center"><%= order.created_at.strftime("%d/%m/%Y") %></td>
        <td class="text-center"><%= link_to 'Afficher', order, class: :"btn btn-link" %></td>
      </tr>
  <% end %>
  </tbody>
</table>


