<h4>Détail commande</h4>

<div >Etat de votre commande : <span id="current-state" style="color:#1d821d;"><%= @order.state_value  %></span></div>

<%if admin? %>
    <div class="pull-right">
      <button class="btn btn-default btn-sm adm-order-ops next" data-op-path="/orders/next" data-order="<%= @order.id%>">Passer à l'étape suivant</button>
      <button class="btn btn-default btn-sm adm-order-ops back" data-op-path="/orders/back" data-order="<%= @order.id%>">Retourner à l'étape précédent</button>
      <button class="btn btn-default btn-sm adm-order-ops cancel" data-op-path="/orders/cancel" data-order="<%= @order.id%>">Annuler</button>
    </div>
<% end %>
<div class="clearfix"></div>
<br/>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Réféfence : <strong><%= @order.name %></strong></h3>
  </div>
  <div class="panel-body">
      <div class="obj_table commandRecapTable">
    <table class="col-xs-12">
      <thead>
      <tr class="tableLine1">
        <th class="text-center th1"><span>Article(s)</span></th>
        <th class="text-center th2"><span>Prix unitaire</span></th>
        <th class="text-center th2"><span>Quantité</span></th>
        <th class="text-center th3"><span>Prix total</span></th>
      </tr>
      </thead>
      <tbody>
      <%= render(@order.line_items) %>
      </tbody>
    </table><div class="clearfix"></div>
        </div>
  </div>
  <div class="panel-footer">
    <div>
      <span style="display: inline-block;margin-right:50px"><strong>Total</strong></span><%= number_to_currency(@order.total_price, unit: "", separator: ",", delimiter: " ") %>€
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a href="javascript:void(0)">
        Adresse
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse in"  id="address-facturation">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5 pull-left">
          <strong class="pull-left">Adresse de livraison</strong><br/>
          <%=@livraison.name %> <%=@livraison.last_name %><br/>
          <%=@livraison.address %><br/>
          <%=@livraison.postal %> <%=@livraison.city %><br/>
          Tél : <%=@livraison.telephone %>
        </div>
        <div class="col-md-5 pull-right">
          <strong class="pull-left">Adresse de facturation</strong><br/>
          <%=@facturation.name %> <%=@facturation.last_name %><br/>
          <%=@facturation.address %><br/>
          <%=@facturation.postal %> <%=@facturation.city %><br/>
          Tél : <%=@facturation.telephone %>
        </div>
      </div>

    </div>
  </div>
</div>


<%= link_to 'Retour', orders_path, class: :"btn btn-default" %>
<% content_for :js do %>
    <script type="text/javascript">
        $(function(){
            var currentState = "<%= @order.state%>";
            var $nextBtn = $('.adm-order-ops.next'),
                    $backBtn = $('.adm-order-ops.back'),
                    $cancelBtn = $('.adm-order-ops.cancel');

            var initializeOrderState = function (currentState){
                if(currentState == 'payed'){
                    $backBtn.hide();
                }else if(currentState != 'finished' && currentState != 'cancel'){
                    $backBtn.show();
                    $nextBtn.show();
                    $cancelBtn.show();
                }else{
                    $backBtn.hide();
                    $nextBtn.hide();
                    $cancelBtn.hide();
                }
            }

            initializeOrderState(currentState);


            $('.adm-order-ops').click(function(){
                var url = $(this).data('op-path');
                var id = $(this).data('order');

                $.ajax({
                    url: url,
                    method: 'post',
                    dataType:'json',
                    data:{id: id}
                }).done(function(data){
                   $('#current-state').text(data.state_value);
                    initializeOrderState(data.state);
                }).fail(function(){
                   alert('ko');
                })
            })

            $('tr.line-item').click(function(){
                $detailLine = $(this).next().toggleClass('hidden');
            });
        })
    </script>
<% end %>