<div class="friezeBloc col-xs-12">
  <ul style="float:left">
    <li class="first progres">
      Panier            </li>
    <li class="">
      Livraison            </li>
    <li class="">
      Récapitulatif            </li>
    <li class="">
      Paiement            </li>
    <li class="last">
      Confirmation            </li>
  </ul>
  <%= button_to 'Empty cart', cart, method: :delete,
                data: { confirm: 'Are you sure?' } %>
</div>

<div class="col-xs-12 clearfix">
<% if cart.line_items.empty? %>
     <h4>Votre panier est actuellement vide. Vous n'avez aucune commande en cours.</h4>
     <br/>
    <a href="/">Retour à l'accueil</a>
<% else %>
    <div class="cart-title">Votre panier</div>
    <table>
      <%= render(cart.line_items) %>
      <tr class="total_line">
        <td colspan="2">Total</td>
        <td class="total_cell"><%= number_to_currency(cart.total_price, unit: "", separator: ",", delimiter: " ") %>€</td>
      </tr>
    </table>
    <%= button_to "Checkout", new_order_path, method: :get %>
    <%= button_to 'Empty cart', cart, method: :delete,
                  data: { confirm: 'Are you sure?' } %>
<% end %>
</div>