<div class="friezeBloc col-xs-12">
  <ul>
    <li class="first completed">
      <a href="/show-cart/">Panier</a>
    </li>
    <li class="progres">
      Livraison            </li>
    <li class="">
      Récapitulatif        </li>
    <li class="">
      Paiement            </li>
    <li class="last">
      Confirmation            </li>
  </ul>
</div>

    <div class="panel panel-default" style="margin-top: 100px">
      <div class="panel-heading">
        <h3 class="panel-title">Adresse de facturation</h3>
      </div>
      <div class="panel-body">
        Attention : nous vous rappelons que notre zone de livraison couvre exclusivement la France métropolitaine.
        <br/>
        <br/>
        <br/>
        <div class="form-horizontal">
          <%= form_for @address, method: :post, url: '/preorder/recapitulatif' do |f| %>
              <% if @address.errors.any? %>
                  <div id="error_explanation">
                    <h2>Veuillez corriger les erreurs suivantes:</h2>

                    <ul>
                      <% @message.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>

              <%= f.hidden_field :id %>
              <%= f.hidden_field :address_type %>

              <div class="form-group">
                <%= f.label "Prénom", class:"col-xs-3 control-label" %>
                <div class="col-xs-9">
                  <%= f.text_field :name, class:"form-control input-sm" %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label "Nom", class:"col-xs-3 control-label" %>
                <div class="col-xs-9">
                  <%= f.text_field :last_name, class:"form-control input-sm" %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label "Code Postal", class:"col-xs-3 control-label" %>
                <div class="col-xs-9">
                  <%= f.text_field :postal, class:"form-control input-sm" %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label "Adresse", class:"col-xs-3 control-label" %>
                <div class="col-xs-9">
                  <%= f.text_field :address, class:"form-control input-sm" %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label "Ville", class:"col-xs-3 control-label" %>
                <div class="col-xs-9">
                  <%= f.text_field :city, class:"form-control input-sm" %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label "Pays", class:"col-xs-3 control-label" %>
                <div class="col-xs-9" style="margin-top: 8px">
                  France
                </div>
              </div>
              <div class="form-group">
                <%= f.label "Téléphone", class:"col-xs-3 control-label" %>
                <div class="col-xs-9">
                  <%= f.text_field :telephone, class:"form-control input-sm" %>
                </div>
              </div>
              <div style="float:right">
                <input type="submit" class="btn btn-primary" value="Continuer"/>
              </div>
          <% end %>
        </div>

      </div>
    </div>