<!-- START_HIGHLIGHT -->
<% if line_item == @current_item %>
    <tr id="current_item" class="line">
<% else %>
    <tr class="line">
<% end %>
<!-- END_HIGHLIGHT -->
<td class="text-center"><%= line_item.product.title %></td>
<td class="item_price text-center"><%= number_to_currency(line_item.product.price, :unit => '') %>€</td>
<td class="item_quantity text-center"><%= line_item.quantity %></td>
<td class="item_price text-center"><%= number_to_currency(line_item.total_price, :unit => '') %>€</td>

<% if line_item.order_id.nil?   %>
<td class="text-center">
  <button class="btn btn-link delete" data-id="<%= line_item.id %>">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
</td>
<%  end  %>
</tr>
<tr>
  <td><%= line_item.product.detail.to_s%></td>
</tr>

<% content_for :js do %>
    <script>
      $(function(){
           $('#recapitulatif button.delete').on('click', function(){
               var $this = $(this);
               var id = $(this).data('id');
               $.ajax({
                   method:"delete",
                   url:"/line_items/" + id + '.json'
               }).done(function(data){
                   $this.closest('tr.line').remove();
               }).fail(function(){
                   console.log('echec');
               });
           });
      })
    </script>
<% end %>