<!-- START_HIGHLIGHT -->
<% if line_item == @current_item %>
    <tr id="current_item" class="line line-item tableLine1">
<% else %>
    <tr class="line line-item tableLine1">
<% end %>
<!-- END_HIGHLIGHT -->
<td class="item_title text-center td1" style="border-bottom:none"><%= line_item.product.title %></td>
<td class="item_price text-center td2" style="border-bottom:none"><%= number_to_currency(line_item.product.price, :unit => '') %>€</td>
<td class="item_quantity text-center td3" style="border-bottom:none"><%= line_item.quantity %></td>
<td class="item_price text-center td4" style="border-bottom:none"><%= number_to_currency(line_item.total_price, :unit => '') %>€</td>

<% if line_item.order_id.nil?   %>
<td class="text-center" style="border-bottom:none">
  <button class="btn btn-link delete td4" data-id="<%= line_item.id %>">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
</td>
<%  end  %>
</tr>
<tr class="hidden tableLine1">
  <td colspan="5" class="product-details text-left td1" style="border-top: none">
    <div style="border-top:1px solid #e7e6e4">
      <%= raw(line_item.product.detail.to_s) %>
    </div>
  </td>
</tr>
