<% provide(:title,'PMAC-Accueil') %>
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <% @carousel.each do |c| %>
        <div class="item <%= 'active' if c.is_active?%>">
          <a href="<%= c.target %>">
            <img src="/assets/<%= c.src %>" alt="<%= c.alt_text %>">
          </a>
        </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
 <hr>
<div id="accessoire" class="col-xs-12">
    <div class="img verre">
      <a target="_blank" href="http://fr.saint-gobain-glass.com/product/1013/sgg-planitherm-ultra-n">
        <img src="assets/saint_gobain_glass.png" width="150px" height="150px">
      </a>
    </div>
    <div class="description col-xs-3">
      <div class="title">
        <a href="javascript:void(0)" target="_blank">
        <button class="btn btn-primary btn-lg btn-link" data-toggle="modal" data-target="#acc-verre" style="padding:10px 0">
          Vitrage haute performance
        </button>
      </a>
      </div>
      <div class="details">
        Double vitrage
        avec gaz isolant
        Haute Isolation Thermique
        avec plus de
        gaz Argon
        ou un intercalaire vitrage
        plus performant
        4-16-4
      </div>
    </div>

  <div class="img poigner">
    <a href="http://www.hoppe.com/fr/fr/poignees-de-fenetre/innovations-hoppe/secustik" target="_blank">
        <img src="assets/menpvc_secustik.jpg" width="150px" height="150px">
    </a>
  </div>
  <div class="description col-xs-4">
    <div class="title">
      <a href="http://www.hoppe.com/fr/fr/poignees-de-fenetre/innovations-hoppe/secustik" target="_blank">
      <button class="btn btn-primary btn-lg btn-link" style="padding:10px 0">
        Poignée de securité Secustik®
      </button>
      </a>
    </div>
    <div class="details">
      Un mécanisme de verrouillage breveté intégré à la poignée Secustik® empêche toute manipulation de la poignée de fenêtre par l'extérieur, en agissant sur la crémone.
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="acc-verre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">L'isolation thermique de votre vitrage</h4>
      </div>
      <div class="modal-body">
        <p>Le renfort des qualités isolantes d'un vitrage repose sur deux techniques complémentaires :
        l'injection d'un surcroît de gaz isolant entre les deux vitrages
        L'insertion d'un intercalaire en matériau composite, en remplacement
        de l'intercalaire métallique classique.
        Le gaz généralement utilisé pour le double vitrage est l'Argon, utilisé comme une lame de gaz inerte, possédant
        une valeur isolante supérieure à celle de l'air : il est plus dense et a une faible conductivité thermique.
         </p>
        <p>Le double et le triple vitrage à Haute Isolation Thermique reçoivent plus de gaz Argon qu'un double vitrage
        à gaz isolant standard.   </p>
        </p>Accroître la performance thermique et limiter la condensation s'opère également par l'installation entre les deux
        vitres d'un prolé intercalaire en matériau composite isolant, dit "Warm Edge", ou vitrage à bords chauds.  </p>
        <p>Les métaux conventionnels ne permettent pas d'obtenir la fonction de rupture de pont thermique
        supplémentaire oerte par le "Warm Edge". </p>
        <p>Quant à l'option 4 Saisons, elle permet de conserver la fraîcheur en été (jusqu'à 50% de la chaleur
        solaire est arrêtée, sans réduction de l'apport
        de lumière) et de conserver la chaleur en hiver.</p>
        <p>En interdisant le passage des rayons ultraviolets, les couleurs de votre intérieur sont protégées et
        la condensation sur la fenêtre est réduite.</p>
        <p>Cette caractéristique provient de la feuille isolante à basse émissivité
        du vitrage, constituée d’une ou plusieurs minces couches d’oxyde métallique transparentes et
        appliquées sur la paroi intérieure. </p>
        <p>Cette feuille confère à votre vitrage Lapeyre la fonction d'Isolation Thermique Renforcée (ITR).
        Découvrir les gammes Haute Isolation Thermique</p>

        <a target="_blank" href="http://fr.saint-gobain-glass.com/product/1013/sgg-planitherm-ultra-n">L'isolation thermique de votre vitrage</a>
      </div>
    </div>
  </div>
</div>



