<header  role="banner" id="doc-header">
  <div id="header" class="container navbar">
     <img src="/assets/logo_pmac.png" width="1170px">
  </div>
  <div id="menu" class="container navbar navbar-inverse">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
     <!-- <a href="/" class="navbar-brand" data-bind="text:module.navBar.title"></a>-->
    </div>
    <nav class="collapse navbar-collapse ">
      <ul id="navbar" class="nav navbar-nav navbar-left">
        <% @header_items.each do |item| %>
            <% if item.children.length > 0 %>
                <li class= 'dropdown'>
                  <a data-toggle="dropdown" class="dropdown-toggle <%= item.picture%>" href=<%= item.url  %>>
                    <%= item.name %><b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <% item.children.order(:order).each do |c| %>
                        <li><a href=<%= c.url  %>><%= c.name %></a></li>
                    <% end %>

                  </ul>
                </li>
            <% else %>
                <li>
                    <a href="<%= item.url  %>" class="<%= item.picture%>">
                      <% if (!item.picture || item.picture.length == 0)  %>
                          <%= item.name %>
                      <%end%>
                      </a>
                </li>
            <% end %>
        <% end %>
      </ul>

      <ul id="navbar" class="nav navbar-nav navbar-right">
          <% if signed_in? %>
              <% if admin? %>
                <li><a href="<%= users_path %>">Tous les utilisateurs</a></li>
                <li><a href="<%= orders_path %>">Tous les commandes</a></li>
              <%else%>
                <li><a href="<%= orders_path %>">Mes commandes</a></li>
              <% end %>
          <% end %>
      </ul>
    </nav>







     <!--<ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <% if signed_in? %>
              <form class="button_to" method="post" action="/signout">
                <div>
                  <input type="hidden" value="delete" name="_method">
                  <button class="btn btn-link" id="deconnecte">Déconnexion</button>

                  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>

                </div>
              </form>
          <% else %>
              <a href="/signin">Connexion</a>
          <% end %>
        </li>
      </ul>  -->
    </nav>
  </div>
</header>

<% content_for :js do %>
    <script type="text/javascript">
        $(function(){
            $('#deconnecte').click(function(){
                $(this).parent('form').submit();
            });
        });
     </script>

<% end %>